@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root 
{
    --cor0: #ca4747;
    --cor1: #FA7070;
    --cor2: #FEFDED;
    --cor3: #C6EBC5;
    --cor4: #A1C398;
}

.error 
{
    color: var(--cor1);
}

body 
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--cor2);
    margin: 20px; 
}
        
.titulo
{
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    color: var(--cor4);
}

.form 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0 auto;
}

.img__livro 
{
    width: 500px;
}

select 
{
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.input__titulo,
.input__autor,
.input__ano,
select 
{
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.form td:first-child 
{
    padding-right: 10px;
}

.submit 
{
    line-height: 1;
    display: block;
    width: 15em;
    padding: 1.5em;
    margin: 1em auto; 
    text-align: center;
    background-color: var(--cor1);
    color: var(--cor2);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer; 
    font-family: "Poppins", sans-serif; 
    font-size: 16px; 
    border: none; 
}

.submit:hover 
{
    background-color: var(--cor0); 
}
        
.table 
{
    margin: 4em 5em 1em 5em;
    width: 40%;
    height: 100%;
    border-collapse: collapse;
    min-height: 500px; 
}