@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --cor0: #ca4747;
    --cor1: #FA7070;
    --cor2: #FEFDED;
    --cor3: #C6EBC5;
    --cor4: #A1C398;
}

.error 
{
    color: var(--cor1);
}

body
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--cor2);
}

.index__titulo
{
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    color: var(--cor4);
}

.index__div
{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    height: 500px;
}

.img__leitura
{
    width: 500px;
}

.div__botoes 
{
    margin-left: 5em;
    margin-right: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.botoes 
{
    line-height: 1.2em;
    height: 1em;
    display: block;
    width: 15em;
    padding: 1.5em;
    margin: 1em;
    text-align: center;
    background-color: var(--cor1);
    color: var(--cor2);
    text-decoration: none;
    border-radius: 5px;
}

.botoes:hover 
{
    background-color: var(--cor0);
}
